<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>로또 당첨 결과</h1>
<div>
    <table>
        <tr>
            <td th:text="${totalWinning}"></td>
            <span>누적 금액</span>
        </tr>
    </table>
<table>
    <thead>
    <tr>
        <th>회차</th>
        <th>해당 상금</th>
        <th>해당 등수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="outputLotto : ${OutputLottoList}">
        <td th:text="${outputLotto.round}">회차</td>
        <td th:text="${outputLotto.winning}">상금</td>
        <td th:text="${outputLotto.place}">등수</td>
    </tr>

    </tbody>
</table>
</div>

</body>
</html>